<form class="ui form attached segment orange" action="/basic_info" method="post">
  <h2 class="ui dividing header">Basic Information</h2>
  <div class="field">
    <div class="ui right labeled left input">
      <input type="text"
             name="username"
             placeholder="The main user with uid 1000"
             value="{{ basic_info.username }}">
      <a class="ui tag label" type="submit">
        Username
      </a>
    </div>
  </div>
  <div class="field">
    <div class="ui right labeled left input">
      <input type="text"
             name="hostname"
             placeholder="Input your desired hostname"
             value="{{ basic_info.hostname }}">
      <a class="ui tag label" type="submit">
        Hostname
      </a>
    </div>
  </div>
  {% for item in basic_info.extra_fields %}
  <div class="field">
    <div class="ui right labeled left input">
      <input type="text"
             name="{{ item.key }}"
             placeholder="{{ item.description }}"
             value="{{ item.value }}">
      <a class="ui tag label" type="submit">
        {{ item.name }}
      </a>
    </div>
  </div>
  {% endfor %}
  <button class="ui orange button" type="submit">Save</button>
</form>
<div class="ui bottom attached message {{ basic_info_message.accent }} {{ basic_info_message.visible }}">
  {{ basic_info_message.text }}
</div>
