<form class="ui form attached segment" action="/propose_mount_table" method="post">
  <h4 class="ui dividing header">Proposed</h4>
  <div class="three fields">
    {% for usage in ['/', '/boot', 'swap'] %}
    <div class="field">
      <label>{{ usage }}</label>
      <select class="ui fluid dropdown" name="{{usage}}">
        <option value="" {{ "selected" if mount_table[usage] else "" }}>
          Please select one ...
        </option>
        {% for item in partition_info.devices %}
        <option value="{{ item.name }}"
                {{ "selected" if mount_table[usage] == item.name else ""}}>
          {{ item.name }}
        </option>
        {% endfor %}
      </select>
    </div>
    {% endfor %}
  </div>

  <div class="three fields">
    {% for usage in ['/home', '/var', '/opt'] %}
    <div class="field">
      <label>{{ usage }} (optional)</label>
      <select class="ui fluid dropdown" name="{{usage}}">
        <option value="none" {{ "selected" if mount_table[usage] == "none" else "" }}>
          None
        </option>
        {% for item in partition_info.devices %}
        <option value="{{ item.name }}"
                {{ "selected" if mount_table[usage] == item.name else ""}}>
          {{ item.name }}
        </option>
        {% endfor %}
      </select>
    </div>
    {% endfor %}
  </div>

  <button class="ui blue button" type="submit">Save</button>
</form>
<div class="ui bottom attached message {{ mount_table_message.accent }} {{ mount_table_message.visible }}">
  {{ mount_table_message.text }}
</div>
